<% @messages.each do |message| %>
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col d-flex">     
        <div class="message-content flex-grow-1 msg-element">
          <p class="mb-1 content" data-message-id="<%= message["id"]%>">
            <%= message["message"] %> 
          </p>

          <div class="text-right">
            <% if current_user.id == message["user_id"] %>
              <small>
                <i class="fa fa-edit pointer" data-message-content="<%= message["message"]%>" data-message-id="<%= message["id"]%>"></i>
              </small>
              |
            <% end %>
            <% if DateTime.parse(message["updated_at"]) >  DateTime.parse(message["created_at"]) %>
              <small>
                Edited
              </small>
              |
            <% end %>
            <small class="edited">
              <%= message["created_at"] %>
            </small>
          </div>
         </div>  
      </div>
    </div>
  </div>
<% end %>