<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>

<% if @rooms.present? %>
  <nav class="nav flex-row">
    <div class="chat" data-channel-subscribe='user' data-user-id="<%= current_user.id %>">
      <% @rooms.each do |room| %>
        <div class="d-flex justify-content-between mb-2">
          <%= link_to room.name, room_path(room), class: 'nav-link room-nav-link'%>
          <p id="notification" data-room-id="<%= room.id %>"><%= room.unreaded_messages(current_user) == 0 ? ' ' : room.unreaded_messages(current_user) %></p>
          <% if room.owner_id == current_user.id %>
            <%= link_to edit_room_path(room), class: 'btn btn-primary' do %>
              Update
            <% end %>
            <%= link_to room_path(room), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              Delete
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </nav>
<% else %>
  <div class="text-muted">
    The are no rooms
  </div>
<% end %>