<h1>
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
      <div id="loader">
        <load :room_id="<%= @room.id %>" :user_id="<%= @current_user.id %>" id='room'></load>
      </div>
    </div>
</div>

<%= javascript_pack_tag "load" %>
